<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180847693384-3rumgig5ustm7g1ioqa2iqe5h4rp5e58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180847693384-3rumgig5ustm7g1ioqa2iqe5h4rp5e58</string>
	<key>API_KEY</key>
	<string>AIzaSyAGwJMC3xhGuBSxWuq6zOOO_w6s6VjsPPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>180847693384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gryTelefony</string>
	<key>PROJECT_ID</key>
	<string>grytelefony-ejsiik</string>
	<key>STORAGE_BUCKET</key>
	<string>grytelefony-ejsiik.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180847693384:ios:8757eef4070c4892de127d</string>
</dict>
</plist>